body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

#menu_container {
  display: block;
  width: 100%;
  height: 20%;
}

.pixels-container {
  display: grid;
  grid-template-columns: repeat(
    100,
    1px
  ); /* Has to be set by the dimension brought from the api*/
  grid-template-rows: repeat(auto-fit, 1px);
}

.pixel {
  width: 1px;
  height: 1px;
}
