/* 
COLOUR PALETTE
 */
.colour-palette {
  display: grid;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
}
.colour-palette .option {
  display: flex;
  min-width: 5vw;
  min-height: 5vw;
  max-width: 5vw;
  max-height: 5vw;
  /* height: 52vh; */
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}
